@model Trial_Task_BLL.DTOs.UserBasicDTO
@{
	Layout = "_HeaderBase.cshtml";
}
@section navbar {
	<li class="nav-item">
	<li class="nav-item dropdown">
		<div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Flights
		</div>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/Flight/allFlights">All flights</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/Flight/allFlights/Pending">Pending</a>
			<a class="dropdown-item" href="/Flight/allFlights/Approved">Approved</a>
			<a class="dropdown-item" href="/Flight/allFlights/Rejected">Rejected</a>
		</div>
	</li>
	<li class="nav-item dropdown">
		<div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Airfields
		</div>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/Airfield/table">Table</a>
			<a class="dropdown-item" href="/Airfield/upload">Upload</a>
		</div>
	</li>
}