

<ul class="navbar-nav mr-auto"></ul>
<div class="form-inline">
	<a class="btn btn-outline-primary" href="/User/login" style="margin-right: 0.75rem">Log In</a>
	<a class="btn btn-outline-primary" href="/User/register">Register</a>
</div>
